:root {
  --m-tight: 0.3rem;
  --m-small: 0.5rem;
  --m-regular: 1rem;
  --m-wide: 1.5rem;
  --m-wide-2: 2rem;
  --m-wide-4: 4rem;
}

body {
  margin: 0;
  width: 100%;
}

.section {
  margin: 1rem; /* Use percentage for relative padding */
  background-color: #ffffff;
  text-align: center;
  height: auto; /* Set the height to "auto" */
}

.padded-section {
  padding: 1rem;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Enable wrapping when width is too small */
  gap: 1rem; /* Adjust the spacing as needed */
}

/* Vertical Container */
.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Adjust the spacing as needed */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align-left {
  text-align: left;
  justify-content: start;
  align-items: start;
}

.align-right {
  text-align: right;
  justify-content: end;
  align-items: end;
}

.hidden-block {
  display: none;
}