:root {
  --font-size-tiny-mobile: 8px;
  --font-size-small-mobile: 10px;
  --font-size-regular-mobile: 12px;
  --font-size-medium-mobile: 16px;
  --font-size-strong-mobile: 20px;
  --font-size-big-mobile: 40px;
  --font-size-huge-mobile: 50px;

  --font-size-tiny-tablet: 12px;
  --font-size-small-tablet: 18px;
  --font-size-regular-tablet: 20px;
  --font-size-medium-tablet: 30px;
  --font-size-strong-tablet: 60px;
  --font-size-big-tablet: 72px;
  --font-size-huge-tablet: 90px;

  --font-size-tiny-pc: 24px;
  --font-size-small-pc: 30px;
  --font-size-regular-pc: 36px;
  --font-size-medium-pc: 40px;
  --font-size-strong-pc: 60px;
  --font-size-big-pc: 90px;
  --font-size-huge-pc: 120px;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.poppins-medium {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
