.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.circle.active {
  background-color: #333;
  color: #fff;
}
